.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#pdfContent {
  text-align: center;
  margin: 20px auto;
}

.timetable {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.timetable th,
.timetable td {
  border: 1px solid #ccc;
  padding: 10px;
}

.timetable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Alternate row background colors */
.timetable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Add colors to rows */
.timetable tbody tr:nth-child(odd) {
  background-color: #eaf5ff; /* Light Blue */
}

.timetable tbody tr:nth-child(even) {
  background-color: #f0f8ff; /* Lighter Blue */
}

/* Adjust font size for smaller screens */
@media (max-width: 600px) {
  .timetable th,
  .timetable td {
    font-size: 12px;
  }
}

/* Better font */
body {
  font-family: Arial, sans-serif;
  font-size: 1em;
}

/* Button to the right */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  float: right;
  margin: auto;
}

button:hover {
  background-color: #0056b3;
}