@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body,* {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

:root {
  --colorTwo: #275f9e;
}

#pdfContent {
  text-align: center;
  margin: 20px auto;
  border-radius: 10px;
  margin: 5px 10px;
}

.timetable {
  border-collapse: collapse;
  width: 100%;
}

.timetable th,
.timetable td {
  border: 1px solid rgb(196, 193, 193);
  padding: 10px;
}

.timetable th {
  background-color: var(--colorTwo);
  color: white;
  font-size: 1.1em;
}

/* Add colors to rows */
.timetable tbody tr:nth-child(odd) {
  background-color: #ebf1ff; 
}

.timetable tbody tr:nth-child(even) {
  background-color: #c8dcf3; 
}

/* Adjust font size for smaller screens */
@media (max-width: 600px) {
  .timetable th,
  .timetable td {
    font-size: 12px;
  }
}

.title1{
  background-color: var(--colorTwo);
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 8px 8px;
  margin-bottom: 3px;
  font-weight: normal;
  font-size: x-large;
}

.title2{
  background-color: var(--colorTwo);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  padding: 5px 10px;
  margin-top: 3px;
  font-weight: normal;
  font-size: large;
}

/* Button to the right */
button {
  padding: 10px 20px;
  margin: auto 20px;
  border-radius: 5px;
  background-color: var(--colorTwo);
  color: #fff;
  border: none;
  cursor: pointer;
  float: right;
}

button:hover {
  background-color: #333;
  color: #eee; 
}